/* table,
th,
td {
  border: 1px solid black;
}
table {
  border-spacing: 10px;
  font-family: arial;
  font-size: 12px;
} */

.table2 td,
.table2 th {
  padding: 0.1rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}
